* {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}
:root {
  --backgoundItems: #007bff;
  --backgoundItems2: rgba(96, 125, 139, 0.2);
  --background: #f4f6f7;
  --background2: #ffffff;
  --degradado: linear-gradient(red, yellow);
  --secundariColor: #fd7e14;
  --Text: #33445d;
  --Text2: #86909f;
  --Text3: #fff;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
}
body::-webkit-scrollbar {
  height: 0;
  width: 0;
}
/* HEADER */
.header {
  background: url("https://www.devaradise.com/about-syakir/assets/img/cover-bg.png");
  height: 100vh;
}
.wrap-info-profil {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 5em;
  text-align: center;
}
.img-porfil {
  border-radius: 50%;
  margin-bottom: 1.5em;
  margin: 0 auto;
  width: 15em;
}
.title-name {
  color: var(--Text3);
  font-size: 1.5em;
  font-weight: 500;
  margin-bottom: 0.3em;
}
.description-porfil {
  color: var(--Text3);
  font-size: 1.2em;
  font-weight: 400;
  margin-bottom: 1em;
}
.description-porfil span {
  background-color: var(--secundariColor);
  border-radius: 3px;
  margin: 0 2px;
  padding: 2px 5px;
}
.wrap-icon-social a {
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid var(--Text3);
  padding: 9px 12px;
  transition: 0.3s all ease;
}
.wrap-icon-social a:hover {
  background-color: var(--secundariColor);
}
.wrap-redesSociales {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin: 1em 0 7em;
  text-align: center;
}
.wrap-redesSociales a {
  color: var(--Text3);
  font-size: 1.2em;
}
.wrap-links-page {
  font-size: 1.3em;
  text-align: center;
}
.wrap-links-page a:hover {
  color: var(--secundariColor);
  transition: 0.3s all ease;
}
.wrap-links-page a {
  color: var(--Text3);
  margin: 0 20px;
  text-decoration: none;
}
/* MAIN INFO */
.main-porfil {
  padding: 0 0.5em;
}
.wrap-main-img-porfil {
  display: flex;
  justify-content: center;
  margin: 15px 0;
}
.main-img-porfil {
  border-radius: 10px;
  width: 240px;
}
.main-title-porfil {
  font-size: 1.5em;
  font-weight: 400;
  margin-bottom: 10px;
}
.full-info-porfil {
  color: var(--Text);
  letter-spacing: 0.3px;
  line-height: 1.3em;
  position: relative;
  white-space: 2em;
}
.full-info-porfil p {
  margin-bottom: 10px;
}
.picGuitar {
  border-radius: 12px;
  display: block;
  margin: 1em auto;
  width: 18em;
}
/* Skills */
.skills {
  color: var(--Text);
  margin-top: 3em;
  padding-bottom: 1em;
}
.title-skills {
  font-size: 21px;
  padding: 10px;
}
.skills span {
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  background: rgba(96, 125, 139, 0.2);
  border-radius: 30px;
  display: inline-block;
  margin: 5px 3px;
  padding: 3px 10px;
  transition: all 0.3s;
}
.skills span:hover {
  background-color: var(--secundariColor);
  color: var(--Text3);
  cursor: default;
}
/* works */
.works {
  background: var(--background);
  padding: 0 0.5em 2em 0.5em;
}
.title-works {
  display: block;
  font-size: 1.7em;
  font-weight: 600;
  padding: 2em 0;
  text-align: center;
}
.work-card {
  margin-bottom: 0.5em;
  overflow: hidden;
  position: relative;
}
.title-card-work {
  align-items: center;
  background-color: transparent;
  color: transparent;
  display: flex;
  font-size: 2em;
  font-weight: 800;
  height: 100%;
  justify-content: center;
  left: 50%;
  position: absolute;
  text-decoration: none;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.work-card img {
  transition: 0.5s all ease;
  width: 100%;
}
.work-card:hover .title-card-work {
  backdrop-filter: blur(5px);
  color: var(--Text3);
  transition: 0.2s background ease;
}
/* responsive */
@media screen and (min-width: 1000px) {
  .wrap-info-porfil {
    align-items: center;
    display: flex;
    gap: 3em;
    padding: 2em;
  }
  .main-porfil {
    height: 100vh;
  }
  .main-img-porfil {
    height: 20em;
    width: 20em;
  }
  .collapse {
    height: 100%;
  }
  .picGuitar {
    margin: 2em auto;
    width: 24em;
  }
}
@media screen and (min-width: 700px) {
  .wrap-work-card {
    display: grid;
    gap: 5px;
    grid-auto-flow: row dense;
    grid-template-columns: repeat(auto-fill, 330px);
    justify-content: center;
  }
}
